<section>
  <div class="jumbotron text-center">
    <div class="row">
      <p class="lead">
        <h1>Changelog</h1>
      </p>
    </div>
  </div>
  <dl class="dl-horizontal">
  <dt>12/2/16</dt>
  <dd>
  <p class="text-danger"><b>Bug fixes:</b> MOVES ARE NOT BEING CACHED ANYMORE, SO MEMORY PROBLEMS SHOULD NOT BE AN ISSUE ANYMORE. Also fixed empty move showing up as 'Start' in the replay. Balance patch (ring of fire) coming soon!</p>
  </dd>
  <dt>11/30/16</dt>
  <dd>
  <p>Added a little download button to save the semi-final matches!</p>
  </dd>
  <dt>11/21/16</dt>
  <dd>
  <p class="text-danger"><b>Qualifiers are now closed!</b> Details on semi-finals coming soon (semi-finals are on 11/30)</p>
  </dd>
  <dt>11/15/16</dt>
  <dd>
  <p class="text-danger">
  <b>BALANCE PATCH:</b>
  <ul>
  <li><p class="text-danger">Block formula was broken somehow in implementation and returned 10 coins regardless of position, that has been fixed.
  <li><p class="text-danger">Powerups (buy_coin, buy_range, buy_pierce) have been changed from costing 1 to costing 5.
  </ul>
  Additionally, added <b>autoplay</b> functionality in games viewer (just reset to beginning of match and check the checkbox)!
  </p>
  </dd>
  </dl>
</section>  