<section>
  <div class="jumbotron text-center">
    <div class="row">
      <p class="lead">
        <h1>Changelog</h1>
      </p>
    </div>
  </div>
  <dl class="dl-horizontal">
  <dt>11/15/16</dt>
  <dd>
  <p class="text-danger">
  <b>BALANCE PATCH:</b>
  <ul>
  <li><p class="text-danger">Block formula was broken somehow in implementation and returned 10 coins regardless of position, that has been fixed.
  <li><p class="text-danger">Powerups (buy_coin, buy_range, buy_pierce) have been changed from costing 1 to costing 5.
  </ul>
  Additionally, added <b>autoplay</b> functionality in games viewer (just reset to beginning of match and check the checkbox)!
  </p>
  </dd>
  </dl>
</section>  