<section>
  <div class="jumbotron text-center">
    <div class="row">
      <p class="lead">
        <h1>Changelog</h1>
      </p>
    </div>
  </div>
  <dl class="dl-horizontal">
  <dt>12/5/16</dt>
  <dd>
  <p>Ring of fire seems to work in practice mode now, thanks for your patience!</p>
  </dd>
  <dt>12/3/16</dt>
  <dd>
  <p class="text-danger"><b>BALANCE PATCH:</b> Starting on turn 400, the apocalypse will occur. An explosion trail will spawn in the top right and in the bottom left. The bottom left trail will initially move up, moving alongside the edge of the board with each complete turn (moving once after both players have moved). The top right trail will initially move down. Both trails will spiral inwards, turning 90 degrees when colliding either with the end of the board or with the other trail. Note that there is a small bug with this in practice mode, as the trails seem to move twice in a row. When testing for the tiebreaker make sure to use the matchmaking server.</p>
  </dd>
  <dt>12/2/16</dt>
  <dd>
  <p class="text-danger"><b>Bug fixes:</b> MOVES ARE NOT BEING CACHED ANYMORE, SO MEMORY PROBLEMS SHOULD NOT BE AN ISSUE ANYMORE. Also fixed empty move showing up as 'Start' in the replay. Balance patch (ring of fire) coming soon!</p>
  </dd>
  <dt>11/30/16</dt>
  <dd>
  <p>Added a little download button to save the semi-final matches!</p>
  </dd>
  <dt>11/21/16</dt>
  <dd>
  <p class="text-danger"><b>Qualifiers are now closed!</b> Details on semi-finals coming soon (semi-finals are on 11/30)</p>
  </dd>
  <dt>11/15/16</dt>
  <dd>
  <p class="text-danger">
  <b>BALANCE PATCH:</b>
  <ul>
  <li><p class="text-danger">Block formula was broken somehow in implementation and returned 10 coins regardless of position, that has been fixed.
  <li><p class="text-danger">Powerups (buy_coin, buy_range, buy_pierce) have been changed from costing 1 to costing 5.
  </ul>
  Additionally, added <b>autoplay</b> functionality in games viewer (just reset to beginning of match and check the checkbox)!
  </p>
  </dd>
  </dl>
</section>  