<section>
  <div class="jumbotron text-center">
    <div class="row">
      <p class="lead">
        <h1>Documentation</h1>
      </p>
    </div>
  </div>
  <div>
    <h3 id="#gettingstarted">Getting started</h3>
    <ul>
      <li>If you haven't already, create an account! Sign up in the top right corner of the screen.
      <li>Go to Edit Profile, which can be found after logging in by clicking on your name in the top right in the dropdown.
      <li>There you should find your developer key (which you should NOT share with anyone), and your current ELO. You will need your dev key for developing your AI.
      <li>If anything doesn't make sense, please email Darwin Ding (dingd@rpi.edu) with any questions you may have!
    </ul>
    <h3 id="#gamerules">Game Rules</h3>
    <img src="img/docs/sampleboard.png" align="left" style="width: 25%; margin: 50px;"></img>
    <h4>Premise</h4>
    <p>Bomberman is a grid-based game where players aim to be the last man standing by blowing all of their opponents up.

    <p>Players start in various starting locations on a grid populated with blocks that impede movement. In traditional Bomberman, a turn can consist of doing nothing, moving up/down/left/right one square, or placing a bomb. Bombs tick down after being placed until their timer hits 0, at which point they destroy blocks, players and detonate other bombs within their range.

    <p>In usual games of Bomberman, destroyed blocks occasionally drop power-ups that players can pick up. Sample power ups include increasing the number of bombs a player can use, increasing the range of bombs, and increasing the speed of the player.

    <p>For further explanation on how default Bomberman works, see the extended documentation below or simply watch some videos of existing Bomberman games. The general concept is the same.

    <p>However, this isn’t default Bomberman. The variant of Bomberman that will be used for this AI competition can most aptly be described as “deterministic Bomberman with portals”. To summarize the big changes that set this apart from the classic ruleset:
    <ul>
    <li>Blocks are given values depending on their proximity to the center; blocks closer to the middle are the most valuable. Blowing up blocks give you coins you can spend in the global shop for power-ups. Buying from the global shop is considered an action that will take a turn.
    <li>By turning everything into predictable formulas, AIs can rely on pure skill to defeat their opponents. People will not get screwed over by randomly getting the power-up they needed or by not getting any power-ups.
    <li>Additionally, instead of doing any other action, players can shoot their portal gun in the direction they’re facing. The closest surface that the player faces (on a wall, destructible or not) will be turned into either an orange or a blue portal. Anything that would move through the portal (players, moved blocks or bombs) will go through the other portal end. Bomb explosion trails will even go through too.
    </ul>
    <h4>High-Level Object Overview</h4>
    <b>Solid objects</b> are objects that occupy an entire space. There can only exist a single solid object in any given grid space, with the only exception being a player that has just placed a bomb.
    <br><img src="/img/player0.png" width="40px" height="40px"><img src="/img/bomb0.png" width="40px" height="40px"><img src="/img/sb.png" width="40px" height="40px"><img src="/img/hb.png" width="40px" height="40px">
    <ul>
    <li><b>Players</b> are the characters that AIs control. An AI is considered to be out of the match when its player is destroyed.
    <li><b>Bombs</b> are objects that players put down. Players have a limited number of bombs they can have out at any point in time. After being placed, they will tick down for a specified amount of time then detonate in the four main directions (up/down/left/right), creating explosion trails.
    <li><b>Blocks</b> are objects that are initialized before any player movement is possible. <b>Soft blocks</b> are a class of blocks that can be destroyed through the detonation of bombs. Blowing up soft blocks awards the player(s) that blew it up a number of coins. <b>Hard blocks</b> are blocks that cannot be destroyed.
    </ul>
    There are a few other objects that will appear on the Bomberman grid however.
    <br><img src="/img/docs/sampletrail.png" width="150px" height="100px">
    <li><b>Explosion trails</b> are generated by bomb detonations. They will destroy players, bombs and soft blocks that they come in contact with. These also tick down before disappearing from the grid, so it is possible for an object to be moved into a trail after it has been initialized.
    <br><img src="/img/docs/sampleportal.png" width="250px" height="100px">
    <li><b>Portals</b> are objects that exist attached to blocks and are basically identical to those in the actual video game made by Valve. Players can spend their turn to shoot a portal instead of doing anything else.
    <h4>Player Overview</h4>
    <p>Players take turns moving, and the nitty gritty for how this happens is covered below. There are a lot of different options for players in any given turn, and all of these are outlined here.

    <p>If a player makes an illegal move (i.e. trying to buy a power-up with insufficient coinage), it will be construed as an empty move (the player will not do anything for that turn). There is no opportunity to submit a second move.

    <p><b>Basic movement</b>
    <p>Players can move in any of the four main directions (up/down/left/right) by inputting to the server <b>mu, md, ml, or mr</b> respectively. This will move them one square and change their orientation to be facing that direction.

    <p>Players cannot walk onto spaces that have solid objects in them, but the player’s orientation will still be changed by the attempt.

    <p>If a player attempts to walk onto a block that has a portal facing the player, the player will have a successful move as long as the portal is paired with another portal that faces an empty square. Note that the player’s orientation will be changed to match the orientation of the portal the player leaves.

    <p>Players can also change orientation without movement by inputting one of <b>tl, tu, tr or td</b>. This is important for accurate portal/block placement that does not require a fully committed move.

    <p><b>Bomb</b>
    <p>Players can drop a bomb by inputting <b>b</b>. This requires that the player is not currently standing on a bomb, and that they still have a bomb remaining in their stash. Players can only have out a number of bombs at one time equal to their bomb count.

    <p><b>Do nothing</b>
    <p>Players can elect to actually just do nothing by inputting <b>‘’</b> (no quotes) (empty move).

    <p><b>Power-ups</b>
    <p>Players can input <b>buy_range, buy_count, buy_pierce or buy_block</b> to buy the respective power-up. These are explained in more detail in the power-up section below. This requires that the player have a sufficient number of coins to make the purchase.

    <p><b>Portals</b>
    <p>Players can input <b>op, bp</b> to shoot either an orange or blue portal.
    <h4>Bomb Overview</h4>
    <p>Bombs work pretty much identically to traditional Bomberman.
    <p>Right after placing a bomb, the player and bomb will share a square. Again, this is the only scenario that a bomb can share a space with a player. Movement after placing a bomb works as normal.

    <p><b>Detonation</b>
    <p>Each turn, after each individual player has moved, all existing bombs will tick down. If any are at 0, they detonate, creating detonation trails in the four squares immediately up, down, left and right from the detonation spot. These detonation trails will travel outwards for the extent of the player’s bomb range. However, if a detonation trail hits a solid object it will continue moving for the extent of the player’s bomb pierce (without surpassing the player’s bomb range).

    <p>For instance, if a bomb detonates with range 5, and after 3 spaces of travel the trail hits a block:
    <li>It will normally stop moving (default bomb pierce is 0)
    <li>If the detonated bomb’s owner has a bomb pierce of 1, the trail will continue to travel one more space.
    <li>However, if the detonated bomb’s owner has a bomb pierce of 6, the trail will continue to travel until the bomb hits its max range of 5, regardless of how much pierce was remaining.

    <p>One edge case to note is if a trail hits a block with a portal facing the trail, it will continue to the other end of the portal if it exists. It will also take the orientation of the paired portal. Essentially bomb trails do travel through portals. (add examples here)

    <p>Colliding with explosion trails is generally bad for the objects in Bomberman:
    <li>Bombs that are in the explosion trail will detonate on the turn that the explosion trail hits them. Chain reactions will all occur on the same turn, so a single bomb may trigger an extremely large explosion.
    <li>Players in the explosion trail will die.
    <li>Destructible blocks in the explosion trail will be removed, and will award all players who own explosion trails crossing the block at the time of death coins. If a soft block is destroyed by a trail, all owners of trails that exist on the spot of the block’s destruction will be awarded coins equal to the block’s value given by the following formula: floor((board size - 1 - x) * x * (board size - 1 - y) * y * 10 / ((board size - 1)^4 / 16))

    <p>The default has the board size as 11. The above formula is calculated using x, y as integers from 0 to 10 where 0, 0 is the top left corner and 10, 10 is the bottom right.
    <h4>Initialization</h4>
    <p>At the beginning of the game...
    <p>Hard blocks are placed in every other column in every other row, creating a spaced out uniform grid as shown below. They also surround the entirety of the grid. See the attached picture below.

    <p>Players are initialized at start points in opposite corners of the grid, with the following characteristics:
    <li>0 Coins
    <li>Bomb count 1
    <li>Bomb range 3
    <li>Bomb pierce 0
    <li>Orientation 0 (facing left, this doesn’t really matter)
    <p>Soft blocks are initialized throughout the entirety of the board purely randomly (each non-occupied space has a 70% chance of having a soft block) with the exception that each starting position is guaranteed to look like below. Each player is guaranteed exactly one vertical and horizontal free space to ensure that no player is completely doomed to begin with.
    <h4>Portal Overview</h4>
    <p>As in the original Portal game, players have an orange portal and a blue portal. Apart from color, these are identical. When players shoot portals, the portal will appear on the closest block (soft or hard) facing the player.

    <p>If the player already owns a portal of that color, the player will override that portal with the new one (it cannot have two portals of the same color). Additionally, if the player already has a portal on the same surface, it will override that portal as well. This will not overwrite portals placed by other players.

    <p>Portals also act like in the original Valve game. Players can walk through portals as long as that would be a legal move. Bomb explosion trails will also go through portals and not destroy the block the portal is on.
    <h4>Power-ups and Global Shop</h4>
    When a power-up is bought, the price of the power-up is deducted from the player’s coin count. If the player has insufficient coins, the player does not get the power-up, and the move is considered to be a “do nothing”.

    <p>When your player has a power-up, the engine knows to act as if your player has the power-up.

    <li>Range up: Increases your player’s bomb range by 1 [Max: 8?]
    <li>Bomb up: Increases your player’s bomb count by 1 [Max: 5?]
    <li>Pierce up: Increases your player’s bomb pierce by 1 [Max: 8?]
    <li>Set Block: Creates a destructible block in the space your player is facing. Cost is variable to the value of the block being placed. You cannot create a block on top of an existing solid object (you will not be charged for an invalid block placement this way).
    <h4>Engine details</h4>
    Players take turns performing moves until the game is complete.
    The player that searches first and is initialized into the top left is player 0, and the player that searches second and is initialized into the bottom right is player 1.

    <p>Initial move order for turn 1 is player 0 moves, then player 1 moves. At the end of each round of moves, all bombs will tick down (and detonate if their tick value becomes 0, generating the necessary amount of explosion trails). Then, the game will check to see if 0 or 1 players is still alive. If 0 players are alive, the game ends in a tie. Otherwise, if it’s 1, that player is the winner.

    <p>Finally, move order is switched: so for turn 2, player 1 moves first then player 0 moves.

    <p>Then, all trails will tick down and resolve their squares (destroying whatever they’re right on top of). Bombs that get chain detonated because of other bomb explosions will also be triggered.

    <h3>Using the matchmaking server</h3>
    <ul>
      <li>First, write an AI! For inspiration, feel free to use the sample AIs provided &lt;link needed&gt;
      <li>In your AI, to search for a game, write a post request to &lt;server URL&gt;/api/games/search with data = {accountID: &lt;dev key goes here&gt;, username: &lt;your username&gt;}
      <li>This will put your AI into matchmaking. Once another player joins matchmaking (or if someone was already searching), the server will create a game with you two! You will receive a post response to your request once it is your turn. See below for what that looks like and what to expect.
    </ul>
    <h3>Sample output</h3>
    <div class="well">
    <samp>
    {
    <br>&nbsp;&nbsp;u'hardBlockBoard': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    <br>&nbsp;&nbsp;u'boardSize': 11,
    <br>&nbsp;&nbsp;u'gameID': u'57e1d18e04fa591c2c1ddca4',
    <br>&nbsp;&nbsp;u'bombMap': {u'2,1': {u'owner': 0, u'tick': 1}},
    <br>&nbsp;&nbsp;u'moveIterator': 0,
    <br>&nbsp;&nbsp;u'playerID': u'57e1d18e04fa591c2c1ddca3',
    <br>&nbsp;&nbsp;u'portalMap': {u'7,9': {u'2': {u'owner': 1, u'portalColor': u'orange'}}, u'9,7': {u'3': {u'owner': 1, u'portalColor': u'blue'}}},
    <br>&nbsp;&nbsp;u'playerIndex': 1,
    <br>&nbsp;&nbsp;u'trailMap': {},
    <br>&nbsp;&nbsp;u'player': {u'bluePortal': {u'y': 7, u'x': 9, u'direction': 3}, u'orientation': 1, u'orangePortal': {u'y': 9, u'x': 7, u'direction': 2}, u'coins': 0, u'bombCount': 1, u'bombPierce': 0, u'alive': True, u'y': 8, u'x': 9, u'bombRange': 3},
    <br>&nbsp;&nbsp;u'state': u'in progress',
    <br>&nbsp;&nbsp;u'softBlockBoard': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    <br>&nbsp;&nbsp;u'moveOrder': [1, 0],
    <br>&nbsp;&nbsp;u'opponent': {u'bluePortal': None, u'orientation': 0, u'orangePortal': None, u'coins': 0, u'bombCount': 0, u'bombPierce': 0, u'alive': True, u'y': 1, u'x': 1, u'bombRange': 3}
    <br>}</samp>
    </div>
    <h3>Interpreting the output</h3>
    This may look really complicated, but it all makes sense when you break it down.
    <br><br>A few definitions:
    <ul>
      <li>Directions (for orientations) are typically represented as numbers. Left corresponds to 0, up is 1, right is 2 and down is 3.
      <li>The game board is an 11x11 grid, and the x and y coordinates go from (0, 0) to (10, 10). Note that incrementing and decrementing x-values moves you horizontally, and doing that to y-values moves you vertically. (0, 0) represents the top left corner and (10, 10) is the bottom right corner.
    </ul>
    <h4>hardBlockBoard, softBlockBoard</h4>
    <div class="well">
    <samp>
    u'hardBlockBoard': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
    <br>u'softBlockBoard': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    </samp>
    </div>
    hardBlockBoard/softBlockBoard is a 121-length array that tells you where all the hard/soft blocks are (1) and aren't (0) on the map. If square (x, y) has a hard/soft block, then the array value at index (x * 11 + y) = 1.
    <h4>boardSize</h4>
    <div class="well">
    <samp>
    u'boardSize': 11
    </samp>
    </div>
    boardSize tells you the length of any side of the board grid. It defaults to 11 and this will probably not change.
    <h4>moveOrder, moveIterator, playerIndex</h4>
    <div class="well">
    <samp>u'moveOrder': [1, 0]
    <br>u'moveIterator': 0
    <br>u'playerIndex': 1
    </samp>
    </div>
    <p>moveOrder is a list representing the move order for this specific turn. Player indices populate this move order list, and index 0 will move first. You can figure out where you are in this list using the moveIterator, which is the exact index that the moveOrder is at in the server. Since you are receiving a post response, you can expect that moveOrder[moveIterator] = your player index, but just for convenience your playerIndex is given too.</p>
    <p>Note that the moveOrder changes each turn: the player that moves first one turn moves last the next turn.</p>
    <h4>gameID, playerID</h4>
    <div class="well">
    <samp>u'gameID': u'57e1d18e04fa591c2c1ddca4'
    <br>u'playerID': u'57e1d18e04fa591c2c1ddca3'
    </samp>
    </div>
    <p>The gameID is the ID of the game. The player ID is your specific player ID. Save these, you're going to need them to submit your moves.</p>
    <p>Neither the gameID or playerID is the same as your dev key.</p>
    <h4>state</h4>
    <div class="well">
    <samp>u'state': u'in progress'
    </samp>
    </div>
    <p>The state is either 'in progress' or 'complete'. Typically the state will be in progress, until obviously only one or zero players remain.</p>
    <h4>player, opponent</h4>
    <div class="well">
    <samp>u'player': {u'bluePortal': {u'y': 7, u'x': 9, u'direction': 3}, u'orientation': 1, u'orangePortal': {u'y': 9, u'x': 7, u'direction': 2}, u'coins': 0, u'bombCount': 1, u'bombPierce': 0, u'alive': True, u'y': 8, u'x': 9, u'bombRange': 3}
    <br>u'opponent': {u'bluePortal': None, u'orientation': 0, u'orangePortal': None, u'coins': 0, u'bombCount': 0, u'bombPierce': 0, u'alive': True, u'y': 1, u'x': 1, u'bombRange': 3}
    </samp>
    </div>
    player and opponent are formatted the same way, here's the breakdown:
    <ul>
      <li>orientation - the direction that player is facing (refer to directions list above)
      <li>bluePortal, orangePortal - either None or an object that tells you the (x, y) coordinates of the block the portal is on, and the direction (see direction's list above) that it is facing outwards. For example, in the given sample output, player.bluePortal has direction 3, which means it's on the bottom face of the block at (9, 7).
      <li>bombRange, bombCount, bombPierce, coins, x, y - these are all your values for these attributes of the player
      <li>alive - True/False depending on whether that player still exists on the game board or not.
    </ul>
    <h4>bombMap</h4>
    <div class="well">
    <samp>
    u'bombMap': {u'2,1': {u'owner': 0, u'tick': 1}}
    </samp>
    </div>
    <p>bombMap is a JSON object that acts as a map between x, y coordinates and bombs. The keys are strings which are in 'x,y' format.</p>
    <p>Each bomb has an owner, which refers to a playerIndex, and a tick count, which tells you how many turns it has left on the board.</p>
    <h4>portalMap</h4>
    <div class="well">
    <samp>
    u'portalMap': {u'7,9': {u'2': {u'owner': 1, u'portalColor': u'orange'}}, u'9,7': {u'3': {u'owner': 1, u'portalColor': u'blue'}}}
    </samp>
    </div>
    <p>You can find the orange/blue portal data in the player/opponent output, but if you want to find them all in one coherent place use the portalMap.</p>
    <p>Keys are strings in 'x,y' format for the square that the portals are on, and values are mappings between directions (which would be opposite from the direction that you walk into the portal) facing out and the portal object. The portal object has an owner (player index) and color (either orange or blue).</p>
    <h4>trailMap</h4>
    <div class="well">
    <samp>
    u'trailMap': {u'7,9': {u'1': {u'tick': 1, u'type': u'h'}}, u'8,10': {u'1': {u'tick': 1, u'type': u'v'}}, u'9,9': {u'1': {u'tick': 1, u'type': u'h'}}, u'10,9': {u'1': {u'tick': 1, u'type': u'h'}}, u'8,9': {u'1': {u'tick': 1, u'type': u'origin'}}
    </samp>
    </div>
    <p>trailMap is a JSON object that acts as a map between x, y coordinates and explosion trail squares. The keys are strings which are in 'x,y' format.</p>
    <p>On each square there is a mapping of player indices to trail objects. Player indices are the same as the ones given in the moveOrder and playerIndex. Explosion trail objects have <b>ticks</b>, which represent how many more turns they'll exist on the game board, and <b>types</b>, which are literally for graphical representation.</p>
    <p>For the purposes of creating an AI, all you really need to know is that you should avoid the squares that have objects in this trailMap for movement</p>
    <h3>Submitting your move</h3>
    In order to submit your move, just make a post request to &lt;server url&gt;/api/games/submit/&lt;gameID from above&gt; with data: {playerID: &lt;playerID from above&gt;, move:&lt;your move to submit, see legal list below&gt;}
    <br><br>LEGAL MOVES:
    <ul>
    <li>mu - move up
    <li>ml - move left
    <li>md - move down
    <li>mr - move right
    <li>tu - turn up
    <li>tl - turn left
    <li>td - turn down
    <li>tr - turn right
    <li>b - place bomb
    <li>op - shoot orange portal
    <li>bp - shoot blue portal
    <li>(empty string) - do nothing
    <li>buy_count - costs 1, increases number of bombs you can have out by 1
    <li>buy_pierce - costs 1, increases whether your bombs can go through walls
    <li>buy_range - costs 1, increases raw range of bombs
    <li>buy_block - costs &lt;value of block&gt;, creates a block in the square you’re facing assuming there’s not a solid object already there
    <li>Value of block = floor((board size - 1 - x) * x * (board size - 1 - y) * y * 10 / ((board size - 1)^4 / 16))
    </ul>
  </div>
  <br><center>Any additional questions? Reach out! Email Darwin Ding at dingd@rpi.edu</center>
</section>
