<section>
  <div class="well text-center">
    <div class="row">
      <h1>AICOMP.me</h1>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        RPI & UPE's very first AI programming competition! Over $4000 in prizes!
        <br>Coders of all skill levels are welcome!
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row"> 
      <div class="col-xs-12">
        <img src="img/docs/sampleboard.png" align="right" width="300px" height="300px" style="margin: 20px">
        <h3>What is this?</h3>
        <p>UPE has created an AI competition for coders all around! Top prizes will be limited to RPI students, but there's tons of ways to get involved even if you're not here on campus.</p>
        <p>In case you’re not familiar with AI competitions in general, here’s a general overview of how this one will work.</p>
        <p>UPE has devised and programmed a game that takes AI input and uses it to determine a winner -- that’s where you come in! We give you the <a href="./docs">full documentation and API</a>, and you (in teams of four or less) make the AIs that will go head to head in the competition.</p>
        <p>However, this event isn't just a one and done deal! This server, equipped with matchmaking capabilities, will be running 24/7 to allow teams to test their AIs against the rest of the competition. By winning games and improving your rating, you can fight your way to the top of our <a href="./leaderboard">leaderboard</a>! There may be prizes (even for non-RPI students) for top rating players!</p>
        <p>There will be a main event, with more details coming later.</p>
        <p>The game is a modified variant of Bomberman, which can best be described as a deterministic Bomberman with portals. The full description of everything that is modified is explained in explicit detail in the <a href="./docs">documentation.</a></p>
        <h3>How do I get involved?</h3>
        <ul>
          <li>
            If you're not familiar with Bomberman, rectify that immediately! It's a classic retro game that you may have played when you were a kid. The rules for this competition are somewhat different from traditional Bomberman, so go to <b>Games > Training Mode</b> to play around with it for yourself or read up in the <b>Documentation</b>!
          </li>
          <li>
            Create an account from the Sign Up page, and get started making your AI! The details of testing your AI against the server are in the Documentation!
          </li>
          <li>
            Have fun!
          </li>
        </ul>
        <div class="row">
        <div class="col-md-3">
          <h3>Learn</h3>
          <ul>
            <li>Read the <a href="./docs">Bomberman documentation</a>
            <li><a href="./games/training">Play around with the game yourself</a>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Develop</h3>
          <p>Code in your favorite language! The server and AIs communicate using HTTP requests (see the documentation for more details), and pretty much all languages can interface this way. Go nuts!</p>
        </div>
        <div class="col-md-3">
          <h3>Test</h3>
          <p>Testing your AI against other AIs on the matchmaking server is super easy using our API! You can even test your AI against a sample practice bot that just moves randomly! Check out the Documentation for more details.</p>
        </div>
        <div class="col-md-3">
          <h3>Compete</h3>
          <p>More on this coming later! There will be a seeding tournament and a main event that's open to entry to all interested RPI teams.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
  <br><center>Any additional questions? Reach out! Email Darwin Ding at dingd@rpi.edu</center>
</section>
