<section>
  <div class="jumbotron text-center">
    <div class="row">
      <h1>UPE AI COMPETITION</h1>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Deterministic Bomberman with portals!
      </p>
    </div>
  </div>
  <div>
    <h2>What is this?</h2>
    <p>This is an AI competition where we provide the game and the rules, and you guys provide the AIs that compete for prizes!</p>
    <h2>How do I get involved?</h2>
    <ul>
      <li>
        If you're not familiar with Bomberman, rectify that immediately! It's a classic retro game that you may have played when you were a kid. The rules for this competition are somewhat different from traditional Bomberman, so go to Games > Training Mode to play around with it for yourself or read up in the Documentation!
      </li>
      <li>
        Create an account from the Sign Up page, and get started making your AI! More information on competing and testing your AI will come later!
      </li>
      <li>
        Have fun!
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>Learn</h2>
      <ul>
        <li>Read the <a href="https://docs.google.com/document/d/1fRC1EvRcNP17UQdy2mRlxaClRezLiTTGL9MW3bGafS8/edit?usp=drive_webx">Bomberman documentation</a>
        <li><a href="./games/training">Play around with the game yourself</a>
      </ul>
    </div>
    <div class="col-md-3">
      <h2>Develop</h2>
      <p>Code in your favorite language! The server and clients communicate using HTTP requests (see the documentation for more details), and pretty much all languages can interface this way, so go nuts!</p>
    </div>
    <div class="col-md-3">
      <h2>Test</h2>
      <p>More on this coming later! There will be a way to connect to the server with matchmaking details to test your AI online against other searching AIs.</p>
    </div>
    <div class="col-md-3">
      <h2>Compete</h2>
      <p>More on this coming later! There will be a seeding tournament and a main event that's open to entry to all interested RPI teams.</p>
    </div>
  </div>
  <!--<div class="well">
    <h2>Bomberman Documentation</h2>
    <p>
      https://docs.google.com/document/d/1fRC1EvRcNP17UQdy2mRlxaClRezLiTTGL9MW3bGafS8/edit?usp=drive_webx
    </p>
  </div>-->
  <br><center>Any additional questions? Reach out! Email Darwin Ding at dingd@rpi.edu</center>
</section>
