  <section>
  <div class="page-header">
    <h1>TRAINING MODE</h1>
  </div>
  <small> 
    <em class="text-muted">

      <br>Positions: <span ng-bind="vm.game.players[0].x"></span>, <span ng-bind="vm.game.players[0].y"></span> vs. <span ng-bind="vm.game.players[1].x"></span>,<span ng-bind="vm.game.players[1].y"></span>
      <br>Orientations: <span ng-bind="vm.game.players[0].orientation"></span> vs. <span ng-bind="vm.game.players[1].orientation"></span>
      <br>Coins: <span ng-bind="vm.game.players[0].coins"></span>, <span ng-bind="vm.game.players[1].coins"></span>
      <br>Player to move: <span ng-bind="vm.game.moveOrder[vm.game.moveIterator]"></span>

      <br><button type="button" ng-click="init()">reset board</button>

      <div id="testTV" style="background-color: lightblue; width:{{40*vm.game.boardSize}}px; height:{{40*vm.game.boardSize}}px; position: relative;">
        <div id="player1" ng-switch on="vm.game.players[0].alive">
          <div ng-switch-when="true" ng-switch on="vm.game.moveOrder[vm.game.moveIterator]" style="position: absolute; left: {{40*vm.game.players[0].x}}px; top: {{40*vm.game.players[0].y}}px; background-color:red; width:40px; height:40px;">
            <div ng-switch-when="0" style="border:5px solid black; width:40px; height:40px;">
            </div>
          </div>
        </div>
        <div id="player2" ng-switch on="vm.game.players[1].alive">
          <div ng-switch-when="true" ng-switch on="vm.game.moveOrder[vm.game.moveIterator]" style="position: absolute; left: {{40*vm.game.players[1].x}}px; top: {{40*vm.game.players[1].y}}px; background-color:green; width:40px; height:40px;">
            <div ng-switch-when="1" style="border:5px solid black; width:40px; height:40px;">
            </div>
          </div>
        </div>
        <div ng-repeat="blockRow in vm.game.hardBlockBoard track by $index" ng-init="x = $index * 40">
          <div ng-repeat="blockCol in blockRow track by $index" ng-init="y = $index * 40" ng-switch on="blockCol">
            <div ng-switch-when="1" style="position: absolute; left: {{x}}px; top: {{y}}px; background-color: black; width: 40px; height: 40px;">
            </div>
          </div>
        </div>
        <div ng-repeat="blockRow in vm.game.softBlockBoard track by $index" ng-init="x = $index * 40">
          <div ng-repeat="blockCol in blockRow track by $index" ng-init="y = $index * 40" ng-switch on="blockCol">
            <div ng-switch-when="1" style="position: absolute; left: {{x}}px; top: {{y}}px; background-color: gray; width: 40px; height: 40px;">
            </div>
          </div>
        </div>
        <div ng-repeat="(pos, bomb) in vm.game.bombMap" ng-init="posArray = pos.split(',')">
          <div style="position: absolute; left: {{posArray[0] * 40}}px; top: {{posArray[1] * 40}}px; background-color: pink; width: 40px; height: 40px;">
          </div>
        </div>
        <div ng-repeat="(pos, trailSquare) in vm.game.trailMap" ng-init="posArray = pos.split(',')">
          <div ng-repeat="(player, trail) in trailSquare">
            <div style="position: absolute; left: {{posArray[0] * 40}}px; top: {{posArray[1] * 40}}px; background-color: orange; width: 40px; height: 40px;">
            </div>
          </div>
        </div>
      </div>

      <div id="buttons">
        Player <span ng-bind="vm.game.moveOrder[vm.game.moveIterator]"></span> move: 
        <button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'ml')">move left</button>
        <button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'mu')">move up</button>
        <button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'mr')">move right</button>
        <button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'md')">move down</button>
        <br><button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'tl')">turn left</button>
        <button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'tu')">turn up</button>
        <button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'tr')">turn right</button>
        <button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'td')">turn down</button>
        <br><button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'')">do nothing</button>
        <button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'b')">drop bomb</button>
        <br><button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'buy_count')">buy extra bomb</button>
        <button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'buy_pierce')">buy bomb pierce</button>
        <button type="button" ng-click="submit(vm.game.moveOrder[vm.game.moveIterator],'buy_range')">buy bomb range</button>
      </div>
    </em>
  </small>
</section>