<section>
  <div class="page-header">
    <h1>Game TV</h1>
    <!--<h1 ng-bind="vm.game.title"></h1>-->
  </div>
  <!--<div class="pull-right" ng-show="vm.game.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="games.edit({ gameId: vm.game._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>-->
  <small>
    <em class="text-muted">
      Game started: 
      <span ng-bind="vm.game.date | date:'mediumDate'"></span><br>
      
      <span ng-bind="vm.game.people[0]"></span> vs. <span ng-bind="vm.game.people[1]"></span>
      <!--<span ng-if="vm.game.people[0]" ng-bind="vm.game.people[0]"></span>
      <span ng-if="!vm.game.people[0]">Deleted User</span>
      vs
      <span ng-if="vm.game.people[1]" ng-bind="vm.game.people[1]"></span>
      <span ng-if="!vm.game.people[1]">Deleted User</span>--> 
    </em>
  </small>
  <!--<p class="lead" ng-bind="vm.game.content"></p>-->
</section>
