<section>
  <div class="page-header">
    <h4>Game TV</h4>

    <div class="row">
    <a class="btn" ng-click="saveJSON()" ng-href="{{ url }}">Download game data</a>
    </div>

    <span ng-bind="vm.fullGame.date | date:'mediumDate'" align="center"></span><br>
      <span ng-bind="vm.fullGame.state" align="center"></span><br><br>

      <b>Player to move: <span ng-bind="vm.fullGame.people[vm.game.moveOrder[vm.game.moveIterator]].username"></span></b>
    <!-- <h1 ng-bind="vm.game.title"></h1> -->
  </div>
    <div class="col-md-2">
      <small>
      <span ng-bind="vm.fullGame.people[0].username"></span> (<span ng-bind="vm.fullGame.people[0].elo"></span>)
      <table class="table">
        <tr>
          <td>Position</td>
          <td><span ng-bind="vm.game.players[0].x"></span>, <span ng-bind="vm.game.players[0].y"></span></td>
        </tr>
        <tr>
          <td>Orientation</td>
          <td><span ng-bind="vm.game.players[0].orientation"></span></td>
        </tr>
        <tr>
          <td>Coins</td>
          <td><span ng-bind="vm.game.players[0].coins"></span></td>
        </tr>
        <tr>
          <td>bombRange</td>
          <td><span ng-bind="vm.game.players[0].bombRange"></span></td>
        </tr>
        <tr>
          <td>bombCount</td>
          <td><span ng-bind="vm.game.players[0].bombCount"></span></td>
        </tr>
        <tr>
          <td>bombPierce</td>
          <td><span ng-bind="vm.game.players[0].bombPierce"></span></td>
        </tr>
        <tr>
          <td>alive</td>
          <td><span ng-bind="vm.game.players[0].alive"></span></td>
        </tr>
        <tr>
          <td>orangePortal</td>
          <td><span ng-bind="vm.game.players[0].orangePortal.x"></span>,<span ng-bind="vm.game.players[0].orangePortal.y"></span>,<span ng-bind="vm.game.players[0].orangePortal.direction"></span></td>
        </tr>
        <tr>
          <td>bluePortal</td>
          <td><span ng-bind="vm.game.players[0].bluePortal.x"></span>,<span ng-bind="vm.game.players[0].bluePortal.y"></span>,<span ng-bind="vm.game.players[0].bluePortal.direction"></span></td>
        </tr>
      </table>
      </div>
      <div class="col-sm-2">
      <span ng-bind="vm.fullGame.people[1].username"></span> (<span ng-bind="vm.fullGame.people[1].elo"></span>)
      <table class="table">
        <tr>
          <td>Position</td>
          <td><span ng-bind="vm.game.players[1].x"></span>, <span ng-bind="vm.game.players[1].y"></span></td>
        </tr>
        <tr>
          <td>Orientation</td>
          <td><span ng-bind="vm.game.players[1].orientation"></span></td>
        </tr>
        <tr>
          <td>Coins</td>
          <td><span ng-bind="vm.game.players[1].coins"></span></td>
        </tr>
        <tr>
          <td>bombRange</td>
          <td><span ng-bind="vm.game.players[1].bombRange"></span></td>
        </tr>
        <tr>
          <td>bombCount</td>
          <td><span ng-bind="vm.game.players[1].bombCount"></span></td>
        </tr>
        <tr>
          <td>bombPierce</td>
          <td><span ng-bind="vm.game.players[1].bombPierce"></span></td>
        </tr>
        <tr>
          <td>alive</td>
          <td><span ng-bind="vm.game.players[1].alive"></span></td>
        </tr>
        <tr>
          <td>orangePortal</td>
          <td><span ng-bind="vm.game.players[1].orangePortal.x"></span>,<span ng-bind="vm.game.players[1].orangePortal.y"></span>,<span ng-bind="vm.game.players[1].orangePortal.direction"></span></td>
        </tr>
        <tr>
          <td>bluePortal</td>
          <td><span ng-bind="vm.game.players[1].bluePortal.x"></span>,<span ng-bind="vm.game.players[1].bluePortal.y"></span>,<span ng-bind="vm.game.players[1].bluePortal.direction"></span></td>
        </tr>
      </table>

    </small>
    </div>
    <div class="col-md-5">
      <div id="testTV" style="background-color: lightblue; width:{{40*vm.game.boardSize}}px; height:{{40*vm.game.boardSize}}px; position: relative;">
        <div ng-repeat="blockIndex in vm.game.hardBlockBoard track by $index" ng-init="x = ($index-$index%11)/11 * 40; y = $index%11 * 40" ng-switch on="blockIndex">
          <div style="position: absolute; left: {{x}}px; top: {{y}}px; width: 40px; height: 40px;">
            <img src="/img/floor.png" style="position: absolute; width: 100%; height: 100%;"></img>
          </div>
        </div>
        <div ng-repeat="blockIndex in vm.game.hardBlockBoard track by $index" ng-init="x = ($index-$index%11)/11 * 40; y = $index%11 * 40" ng-switch on="blockIndex">
          <div ng-switch-when="1" style="position: absolute; left: {{x}}px; top: {{y}}px; width: 40px; height: 40px;">
              <img src="/img/hb.png" style="position: absolute; width: 100%; height: 100%;"></img>
          </div>
        </div>
        <div ng-repeat="blockIndex in vm.game.softBlockBoard track by $index" ng-init="x = ($index-$index%11)/11 * 40; y = $index%11 * 40" ng-switch on="blockIndex">
          <div ng-switch-when="1" style="position: absolute; left: {{x}}px; top: {{y}}px; width: 40px; height: 40px;">
            <img src="/img/sb.png" style="position: absolute; width: 100%; height: 100%;"></img>
          </div>
        </div>
        <div ng-repeat="(pos, bomb) in vm.game.bombMap" ng-init="posArray = pos.split(',')">
          <img src="/img/bomb{{bomb.tick}}.png" style="position: absolute; left: {{posArray[0] * 40}}px; top: {{posArray[1] * 40}}px; width: 40px; height: 40px;">
          </img>
        </div>
        <div ng-repeat="(pos, trailSquare) in vm.game.trailMap" ng-init="posArray = pos.split(',')">
          <div ng-repeat="(player, trail) in trailSquare">
            <img src="/img/trail{{trail.type}}{{trail.tick}}.png" style="position: absolute; left: {{posArray[0] * 40}}px; top: {{posArray[1] * 40}}px; width: 40px; height: 40px;">
            </img>
          </div>
        </div>
        <div ng-repeat="(pos, block) in vm.game.portalMap" ng-init="posArray = pos.split(',')">
          <div ng-repeat="(direction, portal) in block">
            <div ng-switch on="direction" style="position: absolute; left: {{posArray[0] * 40}}px; top: {{posArray[1] * 40}}px; width: 40px; height: 40px;">
              <img src="/img/{{portal.portalColor}}.png" style="transform: rotate({{direction * 90 - 90}}deg);">
              <!-- <div ng-switch-when="0" style="border-left: solid {{portal.portalColor}} 5px; height: 100%; width: 100%;"></div>
              <div ng-switch-when="1" style="border-top: solid {{portal.portalColor}} 5px; height: 100%; width: 100%;"></div>
              <div ng-switch-when="2" style="border-right: solid {{portal.portalColor}} 5px; height: 100%; width: 100%;"></div>
              <div ng-switch-when="3" style="border-bottom: solid {{portal.portalColor}} 5px; height: 100%; width: 100%;"></div> -->
            </div>
          </div>
        </div>
        <div id="player1" ng-switch on="vm.game.players[0].alive">
          <div ng-switch-when="true" ng-switch on="vm.game.moveOrder[vm.game.moveIterator]" style="position: absolute; left: {{40*vm.game.players[0].x}}px; top: {{40*vm.game.players[0].y}}px; width:40px; height:40px;">
            <img src="/img/player{{vm.game.players[0].orientation}}.png" style="position: absolute; width: 100%; height: 100%;"></img>
            <div ng-switch-when="0" style="border:2px solid blue; width:40px; height:40px;">
            </div>
          </div>
        </div>
        <div id="player2" ng-switch on="vm.game.players[1].alive">
          <div ng-switch-when="true" ng-switch on="vm.game.moveOrder[vm.game.moveIterator]" style="position: absolute; left: {{40*vm.game.players[1].x}}px; top: {{40*vm.game.players[1].y}}px; width:40px; height:40px;">
            <img src="/img/player{{vm.game.players[1].orientation}}.png" style="position: absolute; width: 100%; height: 100%;"></img>
            <div ng-switch-when="1" style="border:2px solid blue; width:40px; height:40px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-3 well">
      <div class="row" align="center">
      <small>{{vm.replayIterator}}: <span ng-bind="vm.replay[vm.replayIterator].lastMove"></span></small>
      </div>
      <div class="row center-block" align="center">
      <button type="button" class="btn btn-primary" ng-click="stepTo(0)"><<</button>
      <button type="button" class="btn btn-primary" ng-click="stepBack()"><</button>
      <button type="button" class="btn btn-primary" ng-click="stepForward()">></button>
      <button type="button" class="btn btn-primary" ng-click="stepTo(vm.replay.length - 1)">>></button>
      </div>
      <div class="row center-block" align="center">
      <div class="checkbox">
        <label><input type='checkbox' ng-model="autoplay">Autoplay</label>
      </div>
      </div>
      <br>
      <span ng-repeat="snapshot in vm.replay track by $index">
        <small>{{$index}}:</small> <button type="button" class="btn btn-default" ng-click="stepTo($index)">{{snapshot.lastMove}}</button>
      </span>
    </div>
    </em>
  </small>
  <!--<p class="lead" ng-bind="vm.game.content"></p>-->
</section>